@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

.d-none {
    display: none;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #222;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 445px;
    height: 80vh;
    border-radius: 40px;
    border: 2px solid #ddd;
    background-color: #000;
    padding: 20px 10px;
}

.input-container {
    display: flex;
    justify-content: flex-end;
}

.input-field {
    background-color: #000;
    width: 100%;
    height: 12vh;
    color: #fff;
    text-align: right;
    font-size: 4rem;
    caret-color: transparent;
    overflow: hidden;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.clear-btns-container {
    display: flex;
}

.btn-primary {
    border-radius: 50%;
    padding: 5px;
    line-height: 1;
    font-weight: 600;
    width: 90px;
    height: 90px;
    border: none;
    cursor: pointer;
}

.clear-btn {
    background-color: #a5a5a5;
    color: #000;
    font-size: 2rem;
    margin: 0 15px 15px 0;
}

.clear-btn:hover {
    background-color: #646464;
    color: #fff;
}

.clear-btn>img {
    width: 50px;
    height: 50px;
}

.numbers-container {
    display: flex;
    flex-wrap: wrap;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.operators-container {
    display: flex;
    flex-direction: column;
}

.operator-btn {
    background-color: #FF9F0A;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 400;
}

.operator-btn.active,
.operator-btn:hover {
    background-color: #fff;
    color: #FF9F0A;
}

.number-btn {
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    margin: 0 15px 15px 0;
    font-weight: 400;
}

.number-btn:hover {
    background-color: #242323;
}

.zero-btn {
    flex: 1;
    border-radius: 50px;
    text-align: left;
    padding: 10px 37px;
}

@media screen and (max-width: 1087px) and (min-width: 800px) {
    .calculator-container {
        width: 385px;
    }
    .btn-primary {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 550px) and (min-width: 400px) {
    .calculator-container {
        width: 345px;
        height: 70vh;
    }
    .btn-primary {
        width: 70px;
        height: 70px;
    }
}